/* header */
.header__title-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 30px);
}
.header__title-btn-edit{
    margin-left: 10px;
    font-size: .65em;
}
.header__btn-icon{
    margin: 7px 0 7px 30px;
    vertical-align: middle;
    line-height: 1.5em;
    font-size: 1.5em;
    float: left;
    text-align: center;
}

/* presentation name in header */
.presentation-name{
    max-width: 500px;
    font-size: .7em;
    font-weight: normal;
    line-height: normal;
    margin: 10px 0;
}
.presentation-name__input{
    padding: 2px 15px;
    line-height: 1.5em;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: 1px solid #ccc;
}
.presentation-name__btn{
    padding: 5px 20px 5px 15px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

@media (min-width: 768px) {
    .header__title{
        width: calc(100% - 220px);
    }
    .header__menu{
        width: 220px;
    }
}


@media (max-width: 768px) {
    .section__container{
        padding: 0 15px;
    }
    .header__title{
        width: calc(100% - 120px);
        font-size: 1.2em;
    }
    .header__menu{
        margin: 0;
    }
    .header__btn-icon {
        width: 30px;
        margin: 0 5px;
        line-height: 50px;
    }
    .presentation-name{
        margin: 12px 0;
    }
}


/* main blocks on page */
.presentation-background{
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    background: #EEEEEE;
}
.slide-block{
    position: fixed;
    margin-top: 57px;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    background: #fdfdfd;
    padding-bottom: 50px;
    border-left: 1px solid #cfcfcf;
    overflow-y: auto;
    z-index: 15;
    transition: left .3s ease;
}
@media (max-width: 768px) {
    .slide-block{
        position: relative;
        width: 100%;
    }
}
.tabs__header{
    background: #fdfdfd;
    border-radius: 0;
    border-right: 0;
    padding-top: 10px;
}
.tabs__btn{
    padding: 10px 6px;
}
.reaction-tooltip-icon{
    color: #a0a0a0;
}
.reactions__label{
    display: block;
    font-size: 1.5em;
}

.input-with-counter-block{
    position: relative;
}
.input-with-counter{
    float: none;
    padding-right: 35px;
    resize: vertical;
}
.counter-block{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ccc;
    opacity:0;
    margin: 8px 10px;
    font-size: .8em;
    z-index: 5;
}
.input-with-counter:focus + .counter-block{
    opacity:1;
}
.reactions__label-checkbox{
    padding-left: 18px !important;
    margin-top: 5px;
}