.footer{
    border-top: 1px solid #cfcfcf;
    background: #fafafa;
}

.footer__helper{
    font-size: .8em;
    color: #999;
}
.footer__link{
    font-size: 1.1em;
    margin: 3px 0;
}
.footer__social .footer__link{
    margin-bottom: 0;
    width: 30px;
    padding: 5px;
}