html,main,.section{
    width: 100%;
    height: 100%;
}
body{
    font-family: sans-serif;
    padding:0;
    margin:0;
    color: #212121;
    font-size: 16px;
    width: 100%;
}


.backdrop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    background: rgba(0,0,0,.6);
}
.dark-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .75;
}


/**
 * Hidden xs | sm | md | lg
 */
@media (max-width: 768px) {
    .hidden-xs {
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .hidden-sm {
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .hidden-md {
        display: none;
    }
}
@media (min-width: 1200px) {
    .hidden-lg {
        display: none;
    }
}

.valign{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.valign .center{
    width: 100%;
    margin: auto;
    vertical-align: middle;
}


.show, .block{
    display: block;
}
.hide{
    display: none !important;
}
.visible {
    visibility: visible;
}
.invisible {
    visibility: hidden;
}
.overflow--hidden{
    overflow: hidden;
}
.overflowX--hidden{
    overflow-x: hidden;
}
.overflowY--hidden{
    overflow-y: hidden;
}
.fl_l{
    float: left !important;;
}
.fl_r{
    float: right !important;;
}
.fl_n{
    float: none !important;
}
.in-circle{
    border-radius: 999px;
}
.divider{
    display: block;
    position: relative;
    height: 1px;
    margin: 5px auto;
    overflow: hidden;
    background-color: #e5e5e5;
}
.b-l-0{
    border-left: 0;
}
.b-r-0{
    border-right: 0;
}
.cursor-pointer{
    cursor: pointer;
}
.cursor-default{
    cursor: default;
}
.user-select--none{
    user-select: none;
}

.m-t-100{ margin-top: 100px; }
.m-t-50{ margin-top: 50px; }
.m-t-30{ margin-top: 30px; }
.m-t-20{ margin-top: 20px; }
.m-t-15{ margin-top: 15px; }
.m-t-10{ margin-top: 10px; }
.m-t-5{ margin-top: 5px; }
.m-t-0{ margin-top: 0; }

.m-l-50{ margin-left: 50px; }
.m-l-30{ margin-left: 30px; }
.m-l-20{ margin-left: 20px; }
.m-l-15{ margin-left: 15px; }
.m-l-10{ margin-left: 10px; }
.m-l-5{ margin-left: 5px; }
.m-l-0{ margin-left: 0; }
.m-l-auto { margin-left: auto }

.m-r-50{ margin-right: 50px; }
.m-r-30{ margin-right: 30px; }
.m-r-20{ margin-right: 20px; }
.m-r-15{ margin-right: 15px; }
.m-r-10{ margin-right: 10px; }
.m-r-5{ margin-right: 5px; }
.m-r-0{ margin-right: 0; }
.m-r-auto { margin-right: auto }

.m-b-100{ margin-bottom: 100px; }
.m-b-50{ margin-bottom: 50px; }
.m-b-30{ margin-bottom: 30px; }
.m-b-20{ margin-bottom: 20px; }
.m-b-15{ margin-bottom: 15px; }
.m-b-10{ margin-bottom: 10px; }
.m-b-5{ margin-bottom: 5px; }
.m-b-0{ margin-bottom: 0; }



.p-t-100{ padding-top: 100px; }
.p-t-50{ padding-top: 50px; }
.p-t-30{ padding-top: 30px; }
.p-t-20{ padding-top: 20px; }
.p-t-15{ padding-top: 15px; }
.p-t-10{ padding-top: 10px; }
.p-t-5{ padding-top: 5px; }
.p-t-0{ padding-top: 0; }

.p-l-50{ padding-left: 50px; }
.p-l-30{ padding-left: 30px; }
.p-l-20{ padding-left: 20px; }
.p-l-15{ padding-left: 15px; }
.p-l-10{ padding-left: 10px; }
.p-l-5{ padding-left: 5px; }
.p-l-0{ padding-left: 0; }

.p-r-50{ padding-right: 50px; }
.p-r-30{ padding-right: 30px; }
.p-r-20{ padding-right: 20px; }
.p-r-15{ padding-right: 15px; }
.p-r-10{ padding-right: 10px; }
.p-r-5{ padding-right: 5px; }
.p-r-0{ padding-right: 0; }

.p-b-100{ padding-bottom: 100px; }
.p-b-50{ padding-bottom: 50px; }
.p-b-30{ padding-bottom: 30px; }
.p-b-20{ padding-bottom: 20px; }
.p-b-15{ padding-bottom: 15px; }
.p-b-10{ padding-bottom: 10px; }
.p-b-5{ padding-bottom: 5px; }
.p-b-0{ padding-bottom: 0; }


.section__content{
    display: block;
    position: relative;
    padding-top: 60px;
    margin-left: 200px;
}

@media (max-width: 768px) {
    .section__content{
        margin-left:0;
    }
}

.clear-fix,
.row,
.container,
.section__container{
    display: block;
}
.clear-fix:after, .clear-fix:before,
.container:after, .container:before,
.section__container:after, .section__container:before,
.row:before, .row:after{
    content: " ";
    display: table;
    clear: both;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}