body{
    height:100%;
}
.presentation{
    user-select: none;
    cursor: default;
    overflow: hidden;
    background-color: #FFF;
    box-shadow: 0 0 0 2px #c9c9c9;
    transition: all .2s ease;
    perspective: 800px;
    transform-origin: left top;
    transform: scale(1);
}

.presentation__header-wrapper{
    position: relative;
    cursor: pointer;
    left: 0;
    right: 0;
    top: 0;
    z-index: 15;
}
.presentation__header{
    position: relative;
    font-size: 3vmin;
    text-align: center;
    padding: 1.5vh;
    line-height: 2.5vh;
    cursor: pointer;
    background-color: rgba(250,250,250,0.5);
    border-bottom: 1px solid #cfcfcf;
}

.presentation__header-text{
    opacity:.7;
}
.presentation__code{
    font-weight: bold;
    margin-left: 5px;
    letter-spacing: 5px;
}
.presentation__instruction{
    position: absolute;
    background: #f5f5f5;
    opacity: .9;
    width: 100%;
}

.presentation__instruction-content{
    padding: 20px 0;
}

.presentation__instruction-step{
    float: left;
    text-align: center;
    width: 33.333%;
}
.presentation__instruction-image{
    max-width: 90%;
    max-height: 300px;
}
.presentation__instruction-text{
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    font-size: 2vw;
}
.presentation__instruction-number{
    display: inline-block;
    margin-right: 5px;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5em;
    text-align: center;
    border-radius: 50%;
}

.presentation__brand-icon{
    position: relative;
    float: right;
    right: 2.5vh;
    top: 2.5vh;
    font-weight: 600;
    font-size: 5vmin;
    z-index: 13;
}

.presentation__aside-open {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30%;
    width: 5vw;
    z-index: 20;
}
.presentation__aside-open-btn{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 5vmin;
    padding: 2.5vh;
}

.presentation__aside{
    position: fixed;
    top: 0;
    left: -260px;
    bottom: 0;
    width: 250px;
    background: #fdfdfd;
    border-right: 1px solid #cfcfcf;
    z-index: 21;
    transition: left .3s ease;
    visibility: hidden;
}

.presentation__aside-open--opened +  + .presentation__aside,
.presentation__aside-open:hover + .presentation__aside,
.presentation__aside:hover{
    left: 0;
    visibility: visible;
}

.presentation__aside-wrapper{
    position: relative;
    overflow: hidden;
    height: 100%;
}
.presentation__aside-menu{
    position: absolute;
    bottom: 50px;
    width: 100%;
    top:0;
}
.presentation__aside-menu--bottom{
    border-top: 1px solid #cfcfcf;
    top: auto;
    bottom: 0;
}
.presentation__aside-item--bottom{
    width: 50%;
    float: left;
}
.presentation__aside-item--bottom:first-child {
    border-right: 1px solid #cfcfcf;
}
.presentation__aside-link--bottom{
    padding: 10px;
}
.presentation__aside-link--bottom .fa:first-child{
    margin-right: 5px;
}

.presentation__addition-wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translate(250px);
    width: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #efefef;
    transition: width .25s ease;
}
.presentation__aside-link .fa-angle-right{
    transition: all .3s ease;
}
.presentation__aside-link--opened  + .presentation__addition-wrapper{
    width: 220px;
    border-right: 1px solid #cfcfcf;
}
.presentation__aside-link--opened .fa-angle-right{
    padding-bottom: 2px;
    padding-top: 0;
    transform: rotate(-180deg);
}

.presentation__addition-text,
.presentation__addition-btn{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.presentation__addition-text{
    background: #cfcfcf;
    font-weight: bold;
    font-size: .95em;
    padding: 8px 15px;
}
.presentation__addition-btn{
    padding: 10px 15px;
}
.presentation__addition-btn > .fa{
    width: 20px;
    text-align: center;
    margin-right: 10px;
}
.presentation__addition-btn:hover{
    background: rgba(0,0,0,0.05);
    color: #008DA7;
}

.presentation__navigation-btn{
    position: absolute;
    top: 50%;
    padding: 8vh 3vh;
    transform: translateY(-8vh);
    font-size: 4vh;
    z-index: 13;
}
.presentation__navigation-btn--left{
    padding-right: 8vw;
}
.presentation__navigation-btn--right{
    padding-left: 8vw;
    right: 0;
}

.presentation__progress{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    z-index: 13;
}
.presentation__progress-bar{
    position: absolute;
    height: 100%;
    background: #008DA7;
    transition: width .3s ease;
}

.presentation__slides{
    position: relative;
    overflow: hidden;
    height: calc(100% - 5.5vh);
}
.presentation__header-wrapper.hide + .presentation__slides{
    height: 100%;
}

.presentation__text--light{
    color: #212121;
    text-shadow: 0 0 4px #fcfcfc;
}

.presentation__text--dark{
    color: #fcfcfc;
    text-shadow: 0 0 4px #212121;
}

.presentation__slide{
    display: flex;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    transition: opacity .25s ease, transform .35s ease;
}
.presentation__slide--before{
    transform: translateX(-1%);
}
.presentation__slide--after{
    transform: translateX(1%);
}
.presentation__slide--inactive{
    opacity:0;
}
.presentation__slide--active{
    opacity:1;
    z-index: 2;
    transition-delay: .25s;
    pointer-events: all;
}
.presentation__slide--items-center{
    align-items: center;
}
.presentation__slide-background-image{
    background: no-repeat 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.background-opacity--light{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(255,255,255,.6);
}
.background-opacity--dark{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background: rgba(0,0,0,.7);
}
.presentation__content{
    padding: 0 20px;
    width: 100%;
    height: inherit;
    word-wrap: break-word;
    z-index: 2;
}
.presentation__content--center{
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.presentation__content-heading{
    padding: 2.5vh;
    margin: 0;
    font-size: 9vmin;
}
.presentation__content-subheading{
    padding: 2.5vh;
    margin: 0;
    font-size: 5vmin;
}
.presentation__content-text{
    padding: 3vh;
    margin: 0;
    font-size: 4vmin;
}
@media (max-width: 768px) {
    .presentation__content-heading{
        font-size: 6vmin;
    }
    .presentation__content-subheading{
        font-size: 4vmin;
    }
    .presentation__content-text{
        font-size: 3vmin;
    }
}
.presentation__reactions-wrapper{
    position: fixed;
    bottom: 0;
    right: 2.5vh;
    width: 30vw;
    height: 40vh;
    z-index: 15;
}
.presentation__reaction{
    position: absolute;
    bottom: 0;
    width: 5vmin;
    text-align: center;
    margin-bottom: 2.5vh;
}
.presentation__reaction:nth-child(1){
    right: 0;
}
.presentation__reaction:nth-child(2){
    right: 7vmin;
}
.presentation__reaction:nth-child(3){
    right: 14vmin;
}
.presentation__reaction:nth-child(4){
    right: 21vmin;
}
.presentation__reaction-votes{
    font-size: 4vmin;
    text-align: center;
    transition: all 1s linear;
}
.presentation__reaction-icon{
    font-size: 5vmin;
}
.presentation__reaction--animate{
    animation: opacity-5 2s linear, bottom-2 2s ease-out, right-4 2s ease-in;
    right: 90px;
    display: inherit;
}

.slide-image{
    width: 100%;
    height: 100%;
}
.slide-image__image{
    height: 75%;
    width: 80%;
    margin: 2vh auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.slide-image__title{
    text-align: center;
    word-wrap: break-word;
    font-size: 5vmin;
    position: absolute;
    width: 100%;
    padding: 1% 10%;
    margin: 0;
    bottom: 0;
}
@media (max-width: 768px) {
    .slide-image__title{
        font-size: 3vmin;
    }
}
.slide-image__title--bottom{
    background: rgba(255,255,255,0.6);
}
.slide-choices__block{
    position: absolute;
    top: 10.2vmin;
    width: calc(100% - 40px);
    height: calc(100% - 21vmin);
}
.slide-choices__title{
    width: 75%;
    padding: 1vmin 0 0 15px ;
    margin: 3vmin 0;
    font-size: 3.2vmin;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.slide-choices__content{
    display: flex;
    align-items: center;
    width: 150vmin;
    margin: auto;
    opacity: 0;
    height: 100%;
}
@media (max-width: 992px) {
    .slide-choices__content {
        width: 90vmin;
    }
}
.slide-choices__image{
    height: 70%;
    width: 80%;
    margin: auto;
    opacity: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.slide-choices__action{
    position: absolute;
    bottom: 2vmin;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.slide-choices__action-btn{
    font-size: 3vmin;
    margin: 0;
}
.slide-choices__action-icon{
    margin: 0 3px;
    transition: all .25s ease;
}
.slide-choices__action-icon--clicked{
    transform: rotate(180deg);
}


.slide-choices__option-wrapper{
    position: relative;
    width: 100%;
    height: 85%;
    padding: 0;
}

.slide-choices__option-score{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 4vmin;
    bottom: 12vh;
}
.slide-choices__option-image,
.slide-choices__option-bar{
    position: absolute;
    width: 85%;
    max-width: 150px;
    left: 50%;
    transform: translateX(-50%);
}
.slide-choices__option-bar{
    bottom: 12vh;
    max-height: 55vh;
}
.slide-choices__option-content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 12vh;
    padding: 2px 1vw 0 1vw;
    font-size: 2.5vmin;
    word-break: break-all;
    border-top: 3px solid #a0a0a0;
    overflow: hidden;
    text-align: center;
}