.idea/*
application/vendor/*
application/cache/*
application/logs/*
application/config/redis.php
application/config/database.php
application/config/cache.php
application/config/email.php

# Bundler
#assets/vendor/

# Media files
uploads/*

# config files

# Others
.env
composer.lock
system/config/url.php
