.presentation-background{
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    background: #EEEEEE;
}
.slide-block{
    position: fixed;
    margin-top: 57px;
    top: 0;
    right: 0;
    bottom: 0;
    width: 350px;
    background: #fdfdfd;
    padding-bottom: 50px;
    border-left: 1px solid #cfcfcf;
    overflow-y: auto;
    z-index: 15;
    transition: left .3s ease;
}
.tabs__header{
    background: #fdfdfd;
    border-radius: 0;
    border-right: 0;
    padding-top: 10px;
}
.tabs__btn{
    padding: 10px 6px;
}
.reaction-tooltip-icon{
    color: #a0a0a0;
}
.reactions__label{
    display: block;
    font-size: 1.5em;
}

.input-with-counter-block{
    position: relative;
}
.input-with-counter{
    float: none;
    padding-right: 35px;
    resize: vertical;
}
.counter-block{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ccc;
    opacity:0;
    margin: 8px 10px;
    font-size: .8em;
    z-index: 5;
}
.input-with-counter:focus + .counter-block{
    opacity:1;
}
.reactions__label-checkbox{
    padding-left: 18px !important;
    margin-top: 5px;
}