.header__title-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 30px);
}
.header__title-btn-edit{
    margin-left: 10px;
    font-size: .65em;
}
.header__btn-icon{
    margin: 7px 0 7px 30px;
    vertical-align: middle;
    line-height: 1.5em;
    font-size: 1.5em;
    float: left;
    text-align: center;
}


.presentation-name{
    max-width: 500px;
    font-size: .7em;
    font-weight: normal;
    line-height: normal;
    margin: 10px 0;
}
.presentation-name__input{
    padding: 2px 15px;
    line-height: 1.5em;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    border: 1px solid #ccc;
}
.presentation-name__btn{
    padding: 5px 20px 5px 15px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}

@media (min-width: 768px) {
    .header__title{
        width: calc(100% - 220px);
    }
    .header__menu{
        width: 220px;
    }
}


@media (max-width: 768px) {
    .section__container{
        padding: 0 15px;
    }
    .header__title{
        width: calc(100% - 120px);
        font-size: 1.2em;
    }
    .header__menu{
        margin: 0;
    }
    .header__btn-icon {
        width: 30px;
        margin: 0 5px;
        line-height: 50px;
    }
    .presentation-name{
        margin: 12px 0;
    }
}