<?php defined('SYSPATH') or die('No direct script access.');
return array
(
	'memcacheimp' => array(
		'driver'             => 'memcacheimp',
		'default_expire'     => 3600,
		'compression'        => FALSE,              
		'servers'            => array(
			'local' => array(
				'host'             => 'localhost', 
				'port'             => 11211, 
				'persistent'       => FALSE,  
				'weight'           => 1,
				'timeout'          => 1,
				'retry_interval'   => 15,
				'status'           => TRUE,
			),
		),
		'instant_death'      => TRUE,  
		'statistics'      => FALSE,
	),
	'file'    => array(
		'driver'             => 'file',
		'cache_dir'          => APPPATH.'cache',
		'default_expire'     => 3600,
		'ignore_on_delete'   => array(
			'.gitignore',
			'.git',
			'.svn'
		)
	)
);
